body {
  background-color: $lightbeige;
  height: 100vh;
}

#color-span {
    display: inline;
    background-image: url('./frame.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 8px;
    // border-radius: 5px;
    white-space: nowrap;
}

.home-big-container {
  background-image: url('./group-9.svg');
  height: 90vh;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-container {
  width: 80%;
  margin: auto;
  text-align: center;

}

.home-title h1 {
  font-size: 6em;
  font-family: 'PPRader-Regular';
  padding: 40px 0px;
  margin: 0px;
}

.home-title p {
  font-size: 2em;
  font-family: "Syne-Medium";
}


.home-form {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}
.log-in{
padding:50px;
margin: 3em 5em;
border: 1px solid rgb(0, 0, 0);
border-radius: 10px;
background-color: $kentablue;
width: 60%;
margin:auto;

.form-actions {

  margin-bottom: 1em;
}
}

.form-field{
  border-radius: 10px;
  font-family: 'Syne-Medium';
  border: 2px solid $kentablack;
  padding: 10px 15px;
  margin: 0px 5px;
  font-weight: bold;
}

.form-button{
  background-color: $kentablue;
  color: white;
  border: 2px solid $kentablack;
  padding: 10px 40px;
  border-radius: 10px;
  font-family: 'Syne-Medium';
  font-weight: bold;
}

.form-button:hover {
  box-shadow: 5px 5px $kentablack;
  transition: 0.2s;
}

.home-cards-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
