.families-container {
  display: flex;
  justify-content: center;
}

.family-cards-container {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  row-gap: 32px;
  flex-wrap: wrap;

  .family-card {
    flex-grow: 0;
  }

  .family-card-info-container {
    border: 1px solid $kentablack;
  }
}

.criteria-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(206, 206, 206);
  padding: 1em;
  margin: 0.5em;
}
