
/* -------- Modal --------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content-request {
  background-color: $kentapurple;
  border-radius: 25px;
  border: 2px solid #1A1818;
  margin: 7% auto;
  padding: 25px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-request-confirm {
  font-size: 45px;
  padding-bottom: 13px;
}

.modal-content {
  background-color: $kentapurple;
  border-radius: 25px;
  border: 2px solid #1A1818;
  margin: 13% auto;
  padding: 25px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-content-childnew {
  font-family: "PPRader-Regular";
  font-size: 23px;
  background-color: $kentapurple;
  border-radius: 25px;
  border: 2px solid #1A1818;
  margin: 4% auto;
  padding: 20px 30px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#modal-content-childnew {
  h1 {
    font-size: 35px;
    padding-bottom: 10px;
  }
}

.form-control {
  border-radius: 10px;
  border: 2px solid black;
}

.form-select {
  border-radius: 10px;
  border: 2px solid black;
}

#new_available_date {
  display: flex;
  flex-direction: column;
}


#new_available_date .form-button {
  margin: 10px;
}

.close-button {
  color: #505050;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover,
.close-button:focus {
  color: $kentablack;
  text-decoration: none;
  cursor: pointer;
}

.request-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-booking{
  margin-top: 10px;
}

.form-button-child {
  background-color: $kentayellow;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  border-color: $kentayellow;
  font-family: 'Syne-Medium';
  font-weight: bold;
}

.form-button-child:hover{
  opacity: 50%;
}

.inline-fields {
  display: flex;
  gap: 10px;
}

.inline-fields .input {
  flex: 1;
}


@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}
/* -------- Modal END --------- */
