.family-showpage-container {
  justify-content: center;
  align-content: center;
  height: 90vh;
  background-image: url('./family_showpage_background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.family-showpage-hz-container {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: auto auto;
}

.family-showpage-photo-card {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  background-color: $kentapink;
  border: 2px solid $kentablack;
  box-shadow: 5px 5px $kentablack;
  border-radius: 30px;
  margin-right: 15px;
  padding: 15px;

  img {
    height: 250px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.family-showpage-name {
  background-color: $lightbeige;
  border: 2px solid $kentablack;
  border-radius: 20px;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  h1 {
    font-size: 36px;
    font-family: "PPRader-Regular";
    margin-top: 0px;
  }
}
.family-showpage-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67%;
  background-color: $kentapink;
  border: 2px solid $kentablack;
  box-shadow: 5px 5px $kentablack;
  border-radius: 30px;
  margin-left: 15px;
  padding: 30px;

  h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  p {
    font-family: "Syne-Medium";
    font-size: 1rem;
  }
}

.family-showpage-children-container {
  display: flex;
  justify-content: auto;
  margin: 20px 0px;
}

.family-showpage-child-mini {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar {
    width: 55px;
    height: 55px;
    margin-bottom: 5px
  }
  h5 {
    font-size: 1rem;
  }
}

.submit-button{
  background-color: #F0C148;
  padding: 10px 40px;
  border: 2px solid $kentablack;
  border-radius: 14px;
  font-family: 'Syne-Medium';
  font-weight: bold;
}

.submit-button:hover{
opacity:50%;
}







.family-container {
  // display: flex;
  margin: 3em 5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: $kentablue;
  width: 60%;
  margin:auto;
}

.family-description {
  object-fit: cover;
}

.img-container {
  min-width: 20%;
}

.img-container img {
  border-radius: 25px;
  margin: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.family-container-photo-title {
  margin: 2em;
}

.family-p{
font-family: "Syne-Medium";
font-size: 2em;
}

.family-container-photo-title h1{
  font-family: "PPRader-Regular";
  padding: 5px 10px;
  background-color: $light-gray;
  font-weight: bold;
  border-radius: 15px;
  width: fit-content;
  }

.family-container-photo-title img {
  width: 100%;
}

.family-container-text-button {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.form-field{
  border-radius: 10px;
  font-family: 'Syne-Medium';
  border: 2px solid black;
  padding: 10px 15px;
  margin: 10px;
  font-weight: bold;

}


h3{
  font-family: "PPRader-Regular";
}

.request-button {
  align-self: flex-end;
  margin: 2em;
}

.request-title {
 font-family: "Syne-Medium";
 font-size: 1.5em;
 padding: 10px;
}

.child-name{
  font-size: 1.5em;
}

.log-in-button {
  background-color: #F0C148;
  padding: 5px 15px;
  border-radius: 10px;
}
.log-in-button:hover {
  background-color: #F0C148;
  opacity: 50%;
}

.session-links{
  color:white;
  text-decoration: none;
}

.session-links:hover{
  opacity:70%;
  text-decoration: underline;
}

.show-booking-status{
  background-color: $kentablack;
  color: $lightbeige;
  border-radius: 20px;
  padding: 10px 14px;
}

.status-icon{
  padding-right: 1em;
}

.status-icon-pending{
  color: $kentayellow;
  padding-right: 1em;
}

.status-icon-confirmed{
  color: green;
  padding-right: 1em;
}

.icon-back{
  padding-right:1em;
}
.back-dashboard{
  color:$lightbeige;
  text-decoration:none;
  font-family: "Syne-Medium";
  font-size: 17px;
  font-weight: normal;
}

.back-dashboard:hover{
  color: $kentablack;
  text-decoration:solid;
}

.link-icon {
  color: $kentablue;
  padding-left:1em;
}

.show-booking-p{
  font-size: 1.1em!important;
}


.deleted-icon{
  padding: 13px 15px;
  border: 1px solid $kentablack;
  border-radius:100%;
  color:$kentablack;

  &:hover{
    opacity: 70%;
  }

}


.confirmed-icon{
  padding: 13px;
  margin-left: 1em;
  background-color: $kentablack;
  border-radius: 100%;
  color:white;

  &:hover{
    opacity:70%;
  }
}

.confirmation {
  display: flex;
}

.confirmed-icon {
  margin-right: 20px;
}

.eye-icon{
  margin-bottom: 1em;
}

.first-line-li{
  display:flex;
  justify-content: space-between;
}

.second-line-li{
  display:flex;
  justify-content: space-between;
}

.deleted-icon-dashboard{
  padding: 3px 4px;
  border: 1px solid $kentablack;
  border-radius:100%;
  color:$kentablack;

  &:hover{
    opacity: 70%;
  }

}

.confirmed-icon-dashboard{
  padding: 3px 5px;
  background-color: $kentablack;
  border-radius: 100%;
  color:white;
  margin-left: 0.5em;

  &:hover{
    opacity: 70%;


  }
}

.txt-n{
  text-decoration: none;
}

.booking-request-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.booking-info-display {
  padding: 10px;
  color: $kentablack;
  border-radius: 10px;
  padding: 6px 20px;
  background-color: $lightbeige;
  border: 1.5px solid $kentablack;
  margin: 0px 4px;
}

.fa-person-breastfeeding, .fa-location-dot, .fa-calendar {
  padding-right: 5px;
}
.arrow{
  padding: 2px 4px;
  background-color: white;
  border-radius: 100%;
  color: $kentablue;
  cursor: pointer;
}

.title-availabilities{
  margin: 0 1em;
}
