.page-container-dashboard {
  display: flex;
  flex: center;
  padding: 20px;
}

.container-family-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background-color: $kentablue;
  padding: 1em;
  border-radius: 20px;
  font-family: 'PPRader-Regular';
  color: $lightbeige;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  h2 {
    margin: 0px;
    text-align: center;
    font-size: 50px;
  }

  h5 {
    text-align: center;
    font-family: 'PPRader-Regular';
    font-size: 20px;
    margin-top: 10px;
  }
  p {
    color: $lightbeige;
    font-family: "Syne-Medium";
    font-size: 15px;
  }
}

.family-photo {
  width: 100%;
  max-height: 350px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 10px;
}

.family-photo-and-name {
  width: 100%;
}

.family-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-family-btn {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.container-family-dashboard-children {
  display: flex;
  justify-content: auto;
}

.child-mini {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-container-dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dashboard {
  display: flex;
  flex-grow: 1;
}

.requesthistory-container, .bookingsavailabilities-container {
  display: left;
  height: 84vh;
  flex-direction: column;
  justify-content: left;
  flex-grow: 1;
  max-width: 50%;
  background-color: #F2EFEA;
  padding: 0em 1em;
}

.bookingsavailabilities-container {
  border-left: 1px solid rgb(0, 0, 0);
}

.bebaysit-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4C345;
  padding: 10px;
  border-radius: 20px;
}

.title-requests-availabilities {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2A6A1;
  padding: 10px;
  border-radius: 20px;
}

.availability-design-line {
  border-radius: 30px;
  display: flex;
  align-items: left;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.availabilities {
  padding: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $lightbeige;
  margin: 10px;
}

#add-button-icon {
  padding-left: 10px;
}

/* -------- Modal --------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: $kentapurple;
  border-radius: 25px;
  margin: 13% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation-name: modalopen;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new_available_date {
  display: flex;
  flex-direction: column;
}


#new_available_date .form-button {
  margin: 10px;
}


.close-button {
  color: #505050;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover,
.close-button:focus {
  color: $kentablack;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}
.requests {
  height: 40%;
  border: 2px solid $kentablack;
  border-radius: 20px;
  margin: 10px 0px;
  padding: 15px;
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding-left: 0px;
  }
}


.request-card-dashboard {
  border: 2px solid $kentablack;
  border-radius: 20px;
  margin: 10px 0px;
  padding: 15px;
}

.empty-subsection-placeholder {
  font-family: "Syne-Medium";
  font-style: italic;
  text-align: center;
  margin-top: 24%;
}
