<h1 class="yerllow">coucouc</h1>

<div class="request-container">
  <div class="request-textarea">
    <h1>Create your request</h1>
    <%# <h2><%= @family.family_name %> Family</h2> %>
    <p>Describe your request</p>
    <textarea name="" id=""></textarea>
  </div>
  <div class="request-form">
    <div class="request-infos">
      <p>Activity type: <%=  %></p>
    </div>
  </div>
</div>
