.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 20px;
  border: solid 2px $kentablack;
  color: $kentablack;
  font-family: PPRader-Regular;
  font-size: 25px;
}
