.home-card {
  width:40%;
  border: 1px solid rgb(0, 0, 0);
  padding: 1em;
  margin: 0.5em;
}

.home-card h2 {
  font-weight: bold;
}

.family-card {
  // width: 40%;
  // border-radius: 30px;
  // // border: 1px solid rgb(0, 0, 0);
  // padding: 1em;
  // margin: 0.5em;
  // background-color: $kentablue;
  background-color: $kentapink;
  border-radius: 30px;
  border: 2px solid #1A1818;
  box-shadow: 5px 5px $kentablack;
  width: 21%;
  min-width: 200px;
  max-width: 25%;
  flex-grow: 1;
  padding: 10px;
  color: $kentablack;
}

.family-card a {
  text-decoration: none;
  color: black;
  font-family: "PPRader-Regular";
}

.family-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'PPRader-Regular';
  margin: 0px;
  margin-top: 20px;
  font-size: 5em;
  text-align: center;
}

h2, h3 {
  font-family: 'PPRader-Regular';
  margin: 0px;
  font-size: 23px;
}

h5 {
  font-family: 'Syne-Medium';
  margin: 0px;
}

.family-card-info-container {
  display: flex;
  background-color: $lightbeige;
  border: 2px solid #1A1818;
  border-radius: 27px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 15px;
}
