.navbar-lewagon {
  justify-content: space-between;
  background: $lightbeige;
  height: 10vh;
  border-bottom: 1.5px solid $kentablack;
  margin: 0px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  height: 60px;
}

.sign-up {
  background-color: $kentablue;
  padding: 5px 10px;
  border-radius: 15px;
  border-color:$kentablue;
  font-family: 'Syne-Medium';
  margin: 0px 5px;
}

.sign-in {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Syne-Medium';
  margin: 0px 5px;
}

.sign-in:hover {
  opacity: 50%;
}

.sign-up:hover {
  opacity: 50%;
}

hr {
  width: 90%;
  margin:auto;
  height: 1.5px;
  color: black;
  background-color: black;
}

#point-count {
  color: $kentablack;
  border: solid 1px $kentablack;
  font-family: "PPRader-Regular";
  font-size: 20px;
  padding: 6px 15px;
  margin-right: 20px;
  border-radius: 10px;
}

.fa-coins {
  padding-right: 6px;
}

.dropdown-menu {
  border: solid 1px $kentablack;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: rgb(225, 225, 224);
  transition: 0.1s;
}
